accelerate==1.2.1
datasets==2.17.1
numpy==2.2.6
pandas==2.2.3
pipelines==0.0.14
pyvene==0.1.6
scikit_learn==1.6.1
sentence_transformers==4.0.2
sentencepiece==0.2.0
tokenizers==0.21.1
torch==2.6.0
tqdm==4.67.1
transformers==4.45.1
trl==0.8.1
wandb==0.19.11
